<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/cabecalho.css">
    <link rel="stylesheet" href="../css/tabelas.css">
    <link rel="stylesheet" href="../css/rodape.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <script src="../js/funcoes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <title>lista-de-Professor</title>
</head>
<body>
    
    <header class="cabecalho">
        
        <span onclick="openNav()" class="cabecalho__hamburguer"><p><img class="cabecalho__Icone-hamburguer" src="../img/hamburger-md-svgrepo-com.svg" alt="Icone de hamburguer" width="50em"></p></span>
        <img class="cabecalho__imagem" src="../img/logo-Unibave.png" alt="logo-unibave" width="130px">
        
        <div id="mySidenav" class="sidenav">
            <ul class="cabecalho__lista">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <li><a title="Sobre" href="professores.html" onclick="closeNav()">Lista Professores</a></p></li>
                <li><a title="Sobre" href="cadastro-de-professor.html" onclick="closeNav()">Cadastrar um Professor</a></p></li>
                <li><a title="Formacao" href="cadastro-de-disciplina.html" onclick="closeNav()">Cadastrar uma Disciplina</a></li>
            </ul>
        </div>

    </header>
    
    <main>
        
        <section class="tabela">
            
            <h1 class="tabela__titulo">Lista de Disciplinas</h1>

            <table class="tabela__dados table table-dark table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Nome da Disciplina</th>
                        <th scope="col">Nome do Professor</th>
                        <th scope="col">email do Professor</th>
                        <th scope="col">Perido</th>
                        
                    </tr>
                </thead>
                
                <tbody id="disciplinas"></tbody>
                
            </table>
            
            
            <div class="carregando">
                <img src="../img/banner-loading.gif" id="loading" width="60em">
            </div>

        </section>
        
    </main>

    <footer class="rodape">
        <h2 class="rodape__contato-titulo">Contato</h2>
        
        <div class="rodape__contato-redes-sociais">
            <ul class="rodape__contato-lista">
            
                <li class="rodape__contato-lista-item rodape__contato-lista-instagram"><a title="Ir para o perfil do Instagram" href="https://www.instagram.com/unibave/" target="_blank">Instagram</a></li>
                <li class="rodape__contato-lista-item rodape__contato-lista-linkedin"><a title="Ir para o perfil do Linkedin" href="https://www.linkedin.com/school/unibave/" target="_blank">Linkedin</a></li>
                <li class="rodape__contato-lista-item rodape__contato-lista-facebook"><a title="Ir para o perfil do Facebook" href="https://www.facebook.com/unibave" target="_blank">Facebook</a></li>
                
            </ul>
        </div>
        
        <section class="rodape__contato-fale-conosco">
            
            <p class="rodape__contato-descricao">Fale conosco.</p>
            
            <p>
                <br><a title="telefone" href="tel:+5548346656003" class="rodape__contato-telefone">(48) 98871-3783</a></br>
            </p>

        </section>
    </footer>  

    <script src="../js/funcoes.js"></script>
    <script src="../js/disciplina-req.js"></script>
    <script src="../js/userController.js"></script>
    
</body>
</html>